#chessboard {
  outline: solid;
  width: 490px;
  height: 515px;
}

#chessboard td {
  width: 60px;
  height: 60px;
}

#chessboard .white {
  background-color: white;
}

#chessboard .black {
  background-color: black;
}
